<div id="page-title"><img src="images/victory.png" alt="10 Victory Points"/><h2>Results</h2><img src="images/victory.png" alt="10 Victory Points"/></div>
<% sortedPlayerData.forEach((player, index) => { %>
    <div id="player-score">
        <div id="hwrapper">
            <div><h4><%= player.name %></h4></div>
            <div><h4>&nbsp;&nbsp;:&nbsp;&nbsp;</h4></div>
            <div><h4><% if (scoreData.divisor === 0) { 
                %> <%= player.quotient %> <%
            } else { 
                if (player.quotient !== 0) { 
                    %> <%= player.quotient %> <% 
                } 
                %><%= player.dividend %>&frasl;<%= scoreData.divisor %><%
            } %></h4></div>
        </div>
    </div>
<% }); %>
<div id="hwrapper">
    <button onclick="prev();">Back</button>
    <button onclick="reset()">Start Over</button>
</div>