<h2>Ships</h2>
<% for(let i = 0; i < playerData.length; ++i) { %>
    <div id="hwrapper">
        <input type="text" id="player-name-<%= i %>" value="<%= playerData[i].name %>" placeholder="Player <%= i + 1 %> Name" tabindex="<%= (i+1) %>" />
        <input type="number" id="player-resource-<%= i %>" value="<%= playerData[i].ships %>" placeholder="0" min="0" tabindex="<%= (i+1+playerData.length) %>"  />
    </div>
<% } %>
<button onclick="setShips(); next();">Next</button>