<div id="page-title"><img src="images/victory-10.png" alt="10 Victory Points"/><h2>Victory Points</h2><img src="images/victory-10.png" alt="10 Victory Points"/></div>
<% for(let i = 0; i < playerData.length; ++i) { %>
    <div id="hwrapper">
        <input type="text" id="player-name-<%= i %>" value="<%= playerData[i].name %>" placeholder="Player <%= i + 1 %> Name" tabindex="<%= (i+1) %>" />
        <input type="number" id="player-resource-<%= i %>" value="<%= playerData[i].victoryPoints %>" placeholder="0" min="0" tabindex="<%= (i+1+playerData.length) %>" <% if (i===0) { %> autofocus <% } %> />
    </div>
<% } %>
    <div id="hwrapper">
        <button onclick="setNames(); setVictoryPoints(); prev();">Back</button>
        <button onclick="setNames(); setVictoryPoints(); next();">Next</button>
    </div>